{% include base_path %}

<div class="entry">
  <p class="entry__meta">{{ post.date | date: "%Y" }} &nbsp;·&nbsp; {{ post.type }}</p>
  <h2 class="entry__title"><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></h2>
  <p class="entry__venue">{{ post.venue }}{% if post.location %}, {{ post.location }}{% endif %}</p>
  {% if post.summary %}<p class="entry__note">{{ post.summary }}</p>{% endif %}
  {% if post.link %}<p class="entry__links"><a href="{{ post.link }}">{{ post.link_label | default: "View" }} &rarr;</a></p>{% endif %}
</div>
