{% include base_path %}

<div class="entry">
  <p class="entry__meta">{{ post.date | date: "%Y" }} &nbsp;·&nbsp; {{ post.venue }}</p>
  <h2 class="entry__title"><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>{% if post.award %}<span class="badge">{{ post.award }}</span>{% endif %}</h2>
  {% if post.authors %}<p class="entry__venue">{{ post.authors }}</p>{% endif %}
  {% if post.summary %}<p class="entry__note">{{ post.summary }}</p>{% endif %}
  {% if post.paperurl %}<p class="entry__links"><a href="{{ post.paperurl }}">Read the paper &rarr;</a></p>{% endif %}
</div>
